<div class="footer">
<div class="row boxes">
    <div class="col-sm-3 links">
        <h3>USEFUL LINKS</h3>
        <a href="">About Us</a>
        <a href="">Services</a>
        <a href="">CSR of 2022</a>
        <a href="">More</a>
    </div>
    <div class="col-sm-3 suggestion">
        <h3>Suggestion</h3>
        <form >
            <textarea name="suggestion" id="" cols="10" rows="3" placeholder="Put your Suggestion Here.."></textarea>
            <button class="form-btn" type="submit">Send</button>
        </form>
    </div>
    <div class="col-sm-3">
        <h3>CONTACT US</h3>
        <p>Boreballiy Road , Church gate <br> Mumbai ,IN</p>
    </div>
</div>
</div>